amqp==5.1.1
annotated-types==0.5.0
arabic-reshaper==2.1.4
asgiref==3.7.2
asn1crypto==1.5.1
astroid==2.11.3
async-timeout==4.0.2
attrs==23.1.0
autobahn==23.1.2
Automat==22.10.0
autopep8==1.4.4
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.2
billiard==4.1.0
Brotli==1.0.9
bs4==0.0.1
celery==5.3.1
certifi==2019.3.9
cffi==1.15.1
channels==4.0.0
channels-redis==4.1.0
chardet==3.0.4
charset-normalizer==2.0.12
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
constantly==15.1.0
crispy-bootstrap4==2022.1
cryptography==38.0.3
cssselect2==0.7.0
daphne==4.0.0
defusedxml==0.6.0
dictionary==1.0
dill==0.3.4
distlib==0.3.4
Django==3.2.20
django-allauth==0.39.1
django-appconf==1.0.5
django-bootstrap==0.2.4
django-bootstrap-datepicker-plus==5.0.4
django-bootstrap4==23.2
django-celery-email==3.0.0
django-countries==5.3.3
django-crispy-forms==2.0
django-debug-toolbar==1.10.1
django-embed-video==1.4.9
django-extensions==3.2.3
django-guardian==2.4.0
django-multiupload==0.6.1
django-social-share==2.3.0
django-tinymce==3.4.0
django-tmdb==0.2
django-upgrade==1.5.0
djangoflutterwave==0.3.0
djangorestframework==3.14.0
filelock==3.4.2
fonttools==4.38.0
fpdf==1.7.2
fpdf2==2.7.5
future==0.18.2
futures==3.0.5
goslate==1.5.2
html5lib==1.1
hyperlink==21.0.0
idna==2.8
incremental==22.10.0
isort==5.10.1
kombu==5.3.1
lazy-object-proxy==1.7.1
lxml==4.9.1
mccabe==0.7.0
msgpack==1.0.7
numpy==1.22.0
oauthlib==3.0.1
oscrypto==1.3.0
pandas==1.3.5
paystack==1.5.0
paystackapi==2.1.0
pep8==1.7.1
Pillow==10.0.0
pipenv==2022.1.8
platformdirs==2.4.1
prompt-toolkit==3.0.39
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.5.0
pycparser==2.21
pycryptodome==3.18.0
pydantic==2.0.3
pydantic_core==2.3.0
PyDictionary==2.0.1
pydyf==0.5.0
pyHanko==0.15.1
pyhanko-certvalidator==0.19.6
pylint==2.13.7
pyOpenSSL==23.2.0
PyPDF3==1.0.6
pyphen==0.13.1
python-bidi==0.4.2
python-dateutil==2.8.2
python-decouple==3.1
python3-openid==3.1.0
pytz==2022.6
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
qrcode==7.3.1
redis==4.6.0
reportlab==3.6.12
requests==2.28.1
requests-oauthlib==1.2.0
service-identity==23.1.0
simplejson==3.19.1
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
stripe==2.27.0
svglib==1.4.1
tinycss2==1.2.1
tmdbv3api==1.7.7
tokenize-rt==4.2.1
toml==0.10.2
tomli==2.0.1
tqdm==4.64.1
Twisted==23.8.0
twisted-iocpsupport==1.0.4
txaio==23.1.1
typing_extensions==4.6.3
tzdata==2023.3
tzlocal==4.2
uritools==4.0.0
urllib3==1.24.2
vine==5.0.0
virtualenv==20.13.0
virtualenv-clone==0.5.7
virtualenvwrapper-win==1.2.7
wcwidth==0.2.6
webencodings==0.5.1
wrapt==1.14.0
xhtml2pdf==0.2.8
zope.interface==6.1
zopfli==0.2.2
